  <section class="card">
    <div class="container">
    <br>
    <br>
      <h2>Confirmación de la cuenta</h2>
      <br>
      <p class="subtitle">De esta forma, sabremos que esta cuenta te pertenece</p>
      <p>Necesitamos tu información para procesar tu cuenta</p>
      <p class="moresub">Ingresa el código enviado tu correo electrónico.</p>
  
      <div class="form-field">
        <br>
        <label for="code">Código</label>
        <input id="code" type="number" class="custom-input" />
      </div>
      <button class="btn submit-button">Confirmar</button>
    </div>
  </section>
  