<div class="card">
    <div class="container">
        <br>
        <br>
        <h2>Autenticación 2 factores</h2>
        <br>
        <p class="subtitle">De esta forma, sabremos que esta cuenta te pertenece</p>
        <p>Ingresa el código que aparece en la aplicación de Google Authenticator</p>

        <div class="form-field">
            <br>
            <label for="code">Código</label>
            <input id="code" type="number" class="custom-input"  [(ngModel)]="code" />
        </div>

        <button class="submit-button" (click)="signinfMFA()">Confirmar</button>
    </div>
</div>
