<div class="titule">
  <h3>
    Horario de Atencion
  </h3>
</div>

<div class="mx-8 px-6">
  <div class="relative w-full max-w-screen-xl mx-auto px-4 py-8">
    <h2 class="text-xl font-bold text-center mb-6">Profesionales</h2>
    <div class="overflow-hidden">
      <div class="flex -mx-2 overflow-hidden scroll-smooth no-scrollbar" #carouselContainer>
        <!-- Iterar sobre empleados -->
        @for (item of employee; track $index) {
        <div class="flex-none w-1/4 px-1 hover:cursor-pointer" (click)="calendarioEmpleado(item.id, item.name)">
          <div class="relative flex flex-col items-center group">
            <!-- Imagen del profesional -->
            <img src={{getImagenProfesional(item.imageUrl)}} 
                 alt="imagen" 
                 class="w-24 h-24 rounded-full object-cover mb-2">
            <span class="text-center font-medium">{{item.name}}</span>
            
            <!-- Mensaje flotante -->
            <div class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-30 rounded-full flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
              <span class="text-white text-sm font-semibold">Ver Calendario</span>
            </div>
          </div>
        </div>
        }
      </div>
    </div>

    <!-- Botones de navegación -->
    <button
      class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-white bg-opacity-50 hover:bg-opacity-75 rounded-full p-2 focus:outline-none"
      (click)="scrollLeft()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
      </svg>
    </button>
    <button
      class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-white bg-opacity-50 hover:bg-opacity-75 rounded-full p-2 focus:outline-none"
      (click)="scrollRight()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
    </button>
  </div>
</div>


<div class="flex justify-end">
  <button (click)="openModal2()" type="button"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
    Horario Atencion
  </button>
  <button (click)="openModal()" type="button"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
    Agendar
  </button>
</div>

<main class="main m-10">
  <div class="content h-[500px] overflow-y-auto border border-gray-300 rounded-lg shadow-sm relative">
    <!-- Cabecera Fija -->
    <div class="sticky top-0 bg-white border-b border-gray-300 z-10">
      <!-- Aquí puedes insertar un encabezado dinámico o fijo -->
      <h3 class="text-center font-semibold text-gray-800 p-2">
        {{titleCalendar}}
      </h3>
    </div>

    <!-- Calendario -->
    <div>
      <sx-calendar [calendarApp]="calendar"></sx-calendar>
    </div>
  </div>
</main>



<!-- Modal -->
@if (registerForm) {
<div [ngClass]="{'block': isModalOpen, 'hidden': !isModalOpen}"
  class="fixed z-50 inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
  <div class="bg-white rounded-lg p-6 shadow-lg w-full max-w-4xl">
    <h2 class="text-xl font-bold mb-4 text-center">Datos del Cliente</h2>

    <form class="grid grid-cols-1 md:grid-cols-2 gap-6" [formGroup]="registerForm" (submit)="register()">
      <div>
        <label class="block mb-2">Teléfono</label>
        <input type="text" class="w-full px-3 py-2 border border-gray-300 rounded-lg" placeholder="Teléfono"
          [value]="userDto.phone" disabled>
      </div>
      <div>
        <label class="block mb-2">Servicios</label>
        <select class="w-full px-3 py-2 border border-gray-300 rounded-lg" formControlName="service"
          (click)="claclMontoPreliminar()">
          <option *ngFor="let category of services" [value]="category.id">{{ category.name }}</option>
          <!-- Agregar nuestros aquí -->
        </select>
      </div>
      <div>
        <label class="block mb-2">Hora {{horasAtencion}}</label>
        <input type="time" class="w-full px-3 py-2 border border-gray-300 rounded-lg" min="08:00" max="21:00"
          formControlName="startDate">
      </div>
      <div>
        <label class="block mb-2">Monto Preliminar (Q)</label>
        <input type="text" class="w-full px-3 py-2 border border-gray-300 rounded-lg" placeholder="200" disabled
          [value]="montoPreliminar">
      </div>
      @if (businessConfiguration.employeeElection) {
      <div>
        <label class="block mb-2">Seleccione el encargado</label>
        <select class="w-full px-3 py-2 border border-gray-300 rounded-lg" formControlName="employeeId">
          <option *ngFor="let category of employee" [value]="category.id">{{ category.name }}</option>
          <!-- Aqui configuracion nuestra opciones -->
        </select>
      </div>
      }
      <div>
        <label class="block mb-2">Metodo de pago</label>
        <select class="w-full px-3 py-2 border border-gray-300 rounded-lg" formControlName="paymentMethod">
          <option value='CASH'>EFECTIVO</option>
          <option value='CARD'>TARJETA</option>
        </select>
      </div>
      <div class="flex items-center">
        <input type="checkbox" class="mr-2">
        <label>Aceptar Términos y Condiciones: Al no asistir se le cobrara en su siguiente servicio</label>
      </div>
      <div class="text-center mt-6">
        <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-lg">RESERVAR</button>
      </div>
    </form>

    <button (click)="closeModal()" class="mt-4 text-gray-600 hover:text-gray-800">Cerrar</button>
  </div>
</div>
}

<!-- Modal -->
<div [ngClass]="{'block': isModalOpen2, 'hidden': !isModalOpen2}"
  class="fixed z-50 inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
  <div class="bg-white rounded-lg p-4 shadow-lg w-full max-w-lg mx-4">
    <h2 class="text-xl font-bold mb-2 text-center">Horario de Atención</h2>

    <!-- Tabla de Horarios de Negocio -->
    <h1 class="text-xl font-bold mb-2">Horarios de Negocio (formato 24H)</h1>
    <div class="overflow-x-auto">
      <table class="min-w-full bg-white border border-gray-300 mb-4 table-auto">
        <thead>
          <tr>
            <th class="border px-1 py-1 text-left text-xs">Día</th>
            <th class="border px-1 py-1 text-left text-xs">Hora de Apertura</th>
            <th class="border px-1 py-1 text-left text-xs">Hora de Cierre</th>
            <th class="border px-1 py-1 text-left text-xs">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hour of businessHours">
            <td class="border px-1 py-1 text-sm">{{ traducirDia(hour.dayOfWeek).toUpperCase() }}</td>
            <td class="border px-1 py-1 text-sm">{{ hour.status === 'UNAVAILABLE' ? 'Cerrado' : hour.openingTime }}</td>
            <td class="border px-1 py-1 text-sm">{{ hour.status === 'UNAVAILABLE' ? 'Cerrado' : hour.closingTime }}</td>
            <td class="border px-1 py-1 text-sm">{{ hour.status === 'UNAVAILABLE' ? 'CERRADO' : 'ABIERTO' }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Tabla de Días Especiales -->
    <h2 class="text-xl font-bold mt-6 mb-2">Días Especiales</h2>
    <div class="overflow-x-auto">
      <table class="min-w-full bg-white border border-gray-300 mb-4 table-auto">
        <thead>
          <tr>
            <th class="border px-1 py-1 text-left text-xs">Fecha</th>
            <th class="border px-1 py-1 text-left text-xs">Hora de Apertura</th>
            <th class="border px-1 py-1 text-left text-xs">Hora de Cierre</th>
            <th class="border px-1 py-1 text-left text-xs">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let specialDay of specialDays">
            <td class="border px-1 py-1 text-sm">{{ specialDay.specificDate }}</td>
            <td class="border px-1 py-1 text-sm">{{ specialDay.openingTime }}</td>
            <td class="border px-1 py-1 text-sm">{{ specialDay.closingTime }}</td>
            <td class="border px-1 py-1 text-sm">{{ specialDay.status === 'UNAVAILABLE' ? 'CERRADO' : 'ABIERTO' }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <button (click)="closeModal2()"
      class="mt-4 w-full bg-gray-300 hover:bg-gray-400 text-gray-800 py-2 rounded">Cerrar</button>
  </div>
</div>