<div class="container mx-auto px-4 py-6">
    <h1 class="text-3xl font-semibold mb-6 text-center text-blue-600">Area de Reportes</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        

        <!-- Bloque 2: Historial de Reservas -->
        <div class="bg-white p-4 rounded-lg shadow hover:shadow-lg transition-shadow duration-300">
            <h2 class="text-xl font-semibold">Reportes Citas</h2>
            <p class="mt-2 text-gray-600">Revisa todas las citas Completadas o Canceladas</p>
            <a routerLink="/manager/reportes/citas" class="mt-4 inline-block text-blue-500 hover:underline">Administrar</a>
        </div>


        <!-- Bloque 1: Reservas Activas -->
        <div class="bg-blue-100 p-4 rounded-lg shadow hover:shadow-lg transition-shadow duration-300">
            <h2 class="text-xl font-semibold text-blue-600">Reporte de Servicios</h2>
            <p class="mt-2 text-gray-600">Reporte de los servicios registrados.</p>
            <a routerLink="/manager/reportes/servicios" class="mt-4 inline-block text-blue-500 hover:underline">Administrar</a>
        </div>

        <!-- Bloque 3: Crear Nueva Reserva -->
        <div class="bg-blue-100 p-4 rounded-lg shadow hover:shadow-lg transition-shadow duration-300">
            <h2 class="text-xl font-semibold text-blue-600">Reportes Clientes</h2>
            <p class="mt-2 text-gray-600">Gestion de los reportes de clientes</p>
            <a routerLink="/manager/reportes/clientes" class="mt-4 inline-block text-blue-500 hover:underline">Administrar</a>
        </div>


        <!-- Bloque 5: Soporte -->
        <div class="bg-blue-100 p-4 rounded-lg shadow hover:shadow-lg transition-shadow duration-300">
            <h2 class="text-xl font-semibold text-blue-600">Reportes Empleados</h2>
            <p class="mt-2 text-gray-600">Gestiona los reportes de empleados</p>
            <a routerLink="/manager/reportes/empleados" class="mt-4 inline-block text-blue-500 hover:underline">Administrar</a>
        </div>
    </div>
</div>