* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px); // Considerando la altura del footer
    padding: 10px;
    flex-wrap: wrap;
}

/* Login Section */
.registro-section {
    background-color: white;
    width: 35%;
    max-width: 400px;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 15px;
    text-align: center;

    h1 {
        color: #2ecc71;
        margin-bottom: 30px;
        text-align: left;
    }

    .registro-form {
        width: 100%;

        h2 {
            color: #333;
            margin-bottom: 20px;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }

        button {
            width: 100%;
            background-color: #3498db;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #2980b9;
            }
        }

        p {
            margin-top: 15px;
            font-size: 0.9em;
            color: #777;
            text-align: center;

            a {
                color: #2ecc71;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

/* Welcome */
.welcome-section {
    background-color: #3498db;
    width: 35%;
    max-width: 400px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .welcome-message {
        text-align: center;
        color: white;
        text-align: left;
        h2 {
            font-size: 2.5em;
            margin-bottom: 10px;
        }

        p {
            font-size: 1.2em;
        }
    }

    .calendar-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        margin-left: 30px;
    
        img {
            max-width: 70%;
            height: auto; 
            object-fit: cover;
            border-radius: 8px;
        }
    }
}

/* Footer */
footer {
    background-color: #010411;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 20px;
    }

    .registro-section {
        width: 100%;
        margin-right: 0;
        padding: 20px;
    }

    .welcome-section {
        display: none; // Para oculatarlo,prueba
    }
}

@media (max-width: 480px) {
    .registro-section {
        padding: 10px;
    }

    .registro-form h2 {
        font-size: 1.5em;
    }

    .registro-form input,
    .registro-form button {
        padding: 10px;
    }
}
