<div class="container">
    <br>
    <div class="welcome-section">
        <div class="welcome-message">
            <h2>Bienvenido</h2>
            <p>Empieza y reserva en tu <br> lugar favorito</p>
            <br>
            <div class="calendar-icon">
                <img src="https://shutterstock.com/image-vector/cat-sitting-sad-angry-face-600nw-2431041421.jpg" alt="Icono de Reserva">
            </div>
        </div>
    </div>

    <div class="registro-section">
        <div class="registro-form">
            <h3>Registro</h3>
            <form [formGroup]="registerForm" (submit)="register()"> 
                <input type="text" placeholder="Nombre Completo" required formControlName="name">
                <input type="email" placeholder="Correo Electronico" required formControlName="email">
                <input type="number" placeholder="NIT" required formControlName="nit">
                <input type="number" placeholder="CUI" required formControlName="cui">
                <input type="number" placeholder="Telefono" required formControlName="phone">
                <input type="password" placeholder="Contraseña" required formControlName="password">
                <input type="password" placeholder="Confirmar Contraseña" required formControlName="passwordConfirm">
                <button type="submit" [disabled]="registerForm.invalid">Registrar</button>
            </form>
            <p>¿Ya tienes Cuenta? <a href="#">Login</a></p>
        </div>
    </div> 
</div>
<br>
<br>
<br>
