<div class="container">
    <div class="login-section">
        <h1>Reservas HOLA MUNDO 2 XD</h1>
        <div class="login-form">
            <h2>Login</h2>
            <form [formGroup]="loginForm" (ngSubmit)="login()"> 
                <input type="email" placeholder="Correo Electrónico" required formControlName="email">
                <input type="password" placeholder="Contraseña" required formControlName="password">
                <button type="submit">Ingresar</button>
            </form>
            <p>No tienes cuenta? <a [routerLink]="'/session/Registro'">Registrate</a></p>
            <p>¿Olvidaste tu cuenta? <a [routerLink]="'/session/find'">Recuperar</a></p>
        </div>
    </div>

    <div class="welcome-section">
        <div class="welcome-message">
            <h2>Bienvenido</h2>
            <p>Empieza y reserva en tu <br> lugar favorito</p>
            <br>
            <div class="calendar-icon">
                <img src="https://shutterstock.com/image-vector/cat-sitting-sad-angry-face-600nw-2431041421.jpg" alt="Icono de Reserva">
            </div>
        </div>
    </div>
</div>

<footer>
    <p>Análisis y Diseño 1</p>
</footer>
