<div class="users-container p-6 bg-gray-100 rounded-lg shadow-lg">
  <div>
    <h2 class="text-2xl font-bold mb-4">Administración de Usuarios</h2>
  </div>

  <div class="filter-buttons mb-4">
    <label for="roleFilter" class="block text-gray-700 font-medium mb-2">Filtrar por rol</label>
    <select id="roleFilter" (change)="onRoleChange($event)" class="w-full p-2 border border-gray-300 rounded-md focus:ring focus:ring-indigo-200">
      <option *ngFor="let item of roles" [value]="item.id">{{ item.name }}</option>
    </select>
  </div>

  <div class="users-table overflow-x-auto">
    <table class="min-w-full bg-white border border-gray-200 rounded-lg shadow-lg">
      <thead class="bg-gray-200 text-gray-700 uppercase text-sm leading-normal">
        <tr>
          <th class="py-3 px-6 text-left font-semibold">Nombre</th>
          <th class="py-3 px-6 text-left font-semibold">Rol</th>
          <th class="py-3 px-6 text-left font-semibold">Permisos</th>
        </tr>
      </thead>
      <tbody class="text-gray-600 text-sm font-light">
        <tr *ngFor="let element of users" class="border-b border-gray-200 hover:bg-gray-100">
          <td class="py-3 px-6 text-left">{{ element.name }}</td>
          <td class="py-3 px-6 text-left">{{ element.role }}</td>
          <td class="py-3 px-6 text-left">
            <button (click)="openDialog(element)" class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none">
              Editar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
