  <section class="card">
    <br>
    <div class="container">
      <h2>Confirmación de reinicio de contraseña</h2>
      <p class="subtitle">De esta forma, sabremos que esta cuenta te pertenece</p>
      <p>Necesitamos tu información para procesar tu información</p>
      <p class="moresub">Introduce el código que hemos enviado a tu correo electrónico.</p>
  
      <div class="form-group">
        <label for="code">Código</label>
        <input id="code" type="text" class="custom-input">
      </div>
  
      <button class="submit-button">Confirmar</button>
    </div>
  </section>
  