html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  .main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  
  .container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px 10px;
    border-radius: 5px;
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 34px;
    color: #0a233d;
    margin-bottom: 10px;
  }
  
  .subtitle {
    color: black;
    font-size: 20px;
    font-weight: bold;
  }
  
  p {
    color: black;
    font-size: 18px;
    padding: 0 60px;
    text-align: left;
  }
  
  .moresub {
    color: gray;
    font-size: 18px;
  }
  
  .form-group {
    margin-top: 20px;
    width: 100%;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: black;
    font-size: 16px;
  }
  
  .custom-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .submit-button {
    background-color: #3184de;
    color: white;
    margin-top: 20px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 16px;
  }

  .submit-button:hover{
    background-color: #164c87;
  }
  
  @media (max-width: 768px) {
    .nav-bar {
      padding: 10px;
    }
  
    .company-name {
      font-size: 18px;
    }
  
    .login-button,
    .register-button {
      width: 80px;
      height: 35px;
      margin-left: 5px;
    }
  
    .card {
      width: 90vw;
      margin: 20px auto 0;
    }
  
    .container {
      width: 95%;
    }
  
    h2 {
      font-size: 28px;
    }
  
    .submit-button {
      width: 120px;
    }
  }
  
  @media (max-width: 480px) {
    .company-name {
      font-size: 16px;
    }
  
    .login-button,
    .register-button {
      width: 70px;
      height: 30px;
    }
  
    .card {
      width: 95vw;
    }
  
    .container {
      width: 100%;
    }
  
    h2 {
      font-size: 24px;
    }
  
    .submit-button {
      width: 100px;
    }
  }
  