<section class="card">
    <br>
    <div class="container">
      <h2>Recuperación de la cuenta</h2>
      <p class="subtitle">De esta forma, sabremos que esta cuenta te pertenece</p>
      <p>Necesitamos tu información para procesar tu recuperación.</p>
      <p class="moresub">Introduce tu dirección de correo electrónico para poder recuperar tu cuenta.</p>
  
      <div class="form-group">
        <label for="email">Correo Electrónico</label>
        <input id="email" type="email" class="custom-input">
      </div>
      <button class="submit-button">Buscar</button>
    </div>
  </section>
  